@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
  background-image: url("../../public/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-custom {
    background-color: transparent;
    background-image: url("../../public/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    margin: 0;
  }
}
